<%= form_with model:item, url:method, local:true do |f| %>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "商品画像" %></div>
    <div class="col-7"><%= f.file_field :image, class: "form-control-file", accept: 'image/*' %></div>
  </div>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "商品名" %></div>
    <div class="col-7"><%= f.text_field :name, placeholder:"商品名", class: "form-control name border-dark", style: "background-color:#fcfced" %></div>
  </div>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "商品説明" %></div>
    <div class="col-7">
      <%= f.text_area :explanatory, placeholder:"ここに説明文を記述します", class: "form-control explanatory border-dark", size:"10x8", style: "background-color:#fcfced" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "ジャンル" %></div>
    <div class="col-7">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '--選択してください--' }, class: "form-control border-dark", style: "background-color:#fcfced" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "税抜価格" %></div>
    <div class="col-7 pr-3"><%= f.text_field :price, placeholder:"1000", class: "form-control price border-dark", style: "background-color:#fcfced" %></div>
    <div class="col-1 d-flex align-items-end p-0">円</div>
  </div>
  <div class="form-group row">
    <div class="col-3 offset-1"><%= f.label "販売ステータス" %></div>
    <div class="col-7">
      <%= f.radio_button :is_active, true %> 販売中
      <%= f.radio_button :is_active, false, class:"ml-4" %> 販売停止中
    </div>
  </div>
  <div class="form-group text-center">
    <%= f.submit class: "btn pr-4 pl-4", style:"color:#007b43; background-color:#badcad;" %>
  </div>
<% end %>
