<div class="container">
  <div class="row">
    <div class="card text-center mx-auto">
      <div class="card-header text-center ">
        <h4>管理者ログイン</h4>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card-body">
        <div class="row p-2">
          <%= f.label  :"メールアドレス"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",class:"ml-3"%>
        </div>
        <div class="row p-2">
          <%= f.label :"パスワード"%>
          <%= f.password_field :password, autocomplete: "current-password",class:"ml-5"%>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%= f.submit "ログイン",class:"btn btn-primary"%>
      </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
