<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <table class='table table-borderless'>
        <thead class="table-sm text-center border border-dark">
          <tr>
            <th>ジャンル一覧</th>
          </tr>
        </thead>
        <tbody class="border border-dark">
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">

      <div class="card bg-dark" style="width: 652px; height: auto;">
        <img src="/assets/kari.jpeg" class="card-img" style="width: 650px; height: 300px;">
        <div class="card-img-overlay d-flex">
          <div class="m-auto">
            <div class="card-title">
              <p class="bg-light p-2">
                ようこそ、ながのCAKEへ！<br>
                このサイトはケーキの販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:20px; margin-bottom:20px;">
        <h3 class="font-weight-bold">新着商品</h3>
      </div>
      <table class="table table-borderless d-flex">
        <% @items.each do |item|  %>
          <thead class="font-weight-bold">
            <tr>
              <td>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: '150x150' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= item.name %></td>
            </tr>
            <tr>
              <td>¥<%= item.price %></td>
            </tr>
          </thead>
        <% end %>
      </table>
    </div>
  </div>
</div>
