<div class="container">
  <div class="row" style="margin-top:20px; margin-bottom:20px;">
    <h4><%= @customer.last_name+@customer.first_name %>さんの会員情報編集</h4>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
            <tr>
              <td>氏名</td>
              <td class="form-group">
                <%= f.text_field :last_name %>
                <%= f.text_field :first_name %>
              </td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td class="form-group">
                <%= f.text_field :kana_last_name %>
                <%= f.text_field :kana_first_name %>
              </td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td class="form-group"><%= f.text_field :post_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td class="form-group"><%= f.text_field :post_address, size: 55 %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td class="form-group"><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td class="form-group"><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td class="form-group">
                <%= f.radio_button :is_deleted, "false" %>
                <%= f.label :is_deleted_false, "有効" %>
                <%= f.radio_button :is_deleted, "true" %>
                <%= f.label :is_deleted_false, "退会" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="form-group">
                <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
              </td>
            </tr>
        </thead>
      </table>
      <% end %>
    </div>
  </div>
</div>
