<div class="container card" style="background-color:#cfae9f">
  <div class="row card-header">
    <div class="mx-auto">
      <h4>配送先登録/一覧</h4>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @destination, url: destinations_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :post_code, placeholder: "0000000",:style =>"background-color:#fcfced" %> </td>
      </tr>
      <tr>
        <td>住所</td>
        <td> <%= f.text_field :address, size: "50*50", placeholder: "東京都渋谷区代々木神園0-0",:style =>"background-color:#fcfced" %> </td>
      </tr>
      <tr>
        <td>宛名</td>
        <td> <%= f.text_field :name, placeholder: "令和道子",:style =>"background-color:#fcfced" %> </td>
        <td> <%= f.submit '新規登録', class: "btn",:style =>"color:#0000ff; background-color:#6495ed;" %> </td>
      </tr>
     </table>
     <% end %>

    <table class="table table-bordered table-hover col-11 mx-auto" style="background-color:#fcfced">
     <thead class="table-active">
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
     </thead>
     <tbody class="bg-color:#fcfced">
     <% @destinations.each do |destination| %>
         <tr>
          <td><%= destination.post_code %></td>
          <td><%= destination.address %></td>
          <td><%= destination.name %></td>
          <td>
            <div>
              <%= link_to "編集する", edit_destination_path(destination.id), class: "btn",style: "color:#007b43; background-color:#badcad;" %>
              <%= link_to "削除する", destination_path(destination.id), class: "btn",style: "color:#c70067; background-color:#ffb6c1;",method: :delete %>
            </div>
          </td>
        </tr>
     <% end %>
     </tbody>
    </table>
</div>


