<div class="container card" style="background-color:#cfae9f">
  <div class="row d-flex card-header justify-content-between">
    <h4> ショッピングカート </h4>
    <%= link_to "カートを空にする", cart_items_path, "data-confirm" => "全部消しますか?", method: :delete, class: "btn btn-md", :style=>"color:#c70067; background-color:#ffb6c1;" %>
  </div>
  <div class="row">
   <table class='table table-hover table-bordered my-3' style="background-color:#fcfced">
      <thead class="table-active font-weight-nomal">
        <tr class="text-center">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="text-left align-middle" style="width:40%">
              <%= image_tag cart_item.item.get_item_image, size:'90x90' %>
              <%= cart_item.item.name %>
            </td>
            <td class="align-middle" style="width:15%">
              ¥<%= (cart_item.item.with_tax_price).to_s(:delimited) %>
            </td>
            <td style="width:15%">
              <%= form_with model:CartItem, url:cart_item_path(cart_item), method: :patch, local:true do |f| %>
                <div class="form-group d-flex mt-3">
                  <div>
                    <%= f.select:amount, 1..100, {selected: cart_item.amount.to_i}, class: "form-control align-middle", style: "background-color:#fcfced" %>
                  </div>
                  <div class="ml-3">
                    <%= f.submit "変更", class: "btn btn-md align-middle p-2", style: "color:#007b43; background-color:#badcad;" %>
                  </div>
                </div>
              <% end %>
            </td>
            <td class="align-middle text-center">
              ¥<%= (cart_item.item.with_tax_price*cart_item.amount).to_s(:delimited) %>
            </td>
            <td class="align-middle text-center" style="width:15%">
              <%= link_to "取り消す", cart_item_path(cart_item), method: :delete, class: "btn btn-md h6", :style=>"color:#c70067; background-color:#ffb6c1;" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-between">
    <div>
      <%= link_to "買い物を続ける", root_path, class:"btn ml-3", :style=>"color:#ee7800; background-color:#f2d58a;" %>
    </div>
    <div class="mr-3">
      <table class="table" style="background-color:#fcfced">
        <tr>
          <th class="table-active text-center" style="width:140px">合計金額</th>
          <td style="width:140px background-color:#fcfced">
            <% @cart_items.each do |cart_item| %>
              <% @total += cart_item.subtotal %>
            <% end %>
            <strong>¥<%= @total.to_s(:delimited) %></strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <%= paginate @cart_items %>
  </div>
  <% if current_customer.cart_items.present? %>
    <div class="d-flex justify-content-center mb-2">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-lg", :style=>"color:#007b43; background-color:#badcad;" %>
    </div>
  <% end %>
</div>
