<div class="container">
  <div class="row md-3">
    <div class="col-8 offset-1">
      <h2>注文情報確認</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-7 offset-1">
        <table class="table table-bordered border-dark">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
      　<% @cart_items.each do |order_item| %>
          <tr>
            <td><%= image_tag order_item.item.get_item_image, size:'50x50' %></td>
            <td><%= order_item.item.name %></td>
            <td><%= (order_item.item.price * 1.1).floor %></td>
            <td><%= order_item.amount %></td>
            <td><%= (order_item.item.price * 1.1).floor * order_item.amount %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <div class="col-3">
        <table class="table table-bordered border-dark">
          <% @order.postage = 800 %>
          <tr>
            <th class="table-secondary">送料</th>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th class="table-secondary">商品合計</th>
            <td><%= total.to_i %></td>
          </tr>
          <% @order.total_payment = @order.postage + total.to_i %>
          <tr>
            <th class="table-secondary">請求金額</th>
            <td><%= @order.total_payment %></td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <%= form_with model: @order,url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :
    </div>
</div>