<div class="container">
  <div class="card rounded col-12 mx-0 mt-4 p-0" style="background-color:#cfae9f" >
    <div class="col-12 p-0 m-0">
      <div class="card-header mx-0 py-3">
        <h4 class="text-center mx-0">注文履歴詳細</h4>
      </div>
      <div class="row d-flex justify-content-between ml-4 mt-3">
        <div class="card rounded col-6 p-0" style="background-color:#fcfced;" >
          <div class="col-12 p-0">
            <div class="card-header">
              <p class="pt-2 text-center"><strong>注文情報</strong></p>
            </div>
            <table class="table table-bordered mb-0">
              <tr>
                <td class="table-active text-center align-middle" style="width:30%">注文日</td>
                <td> <%= @order.updated_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td class="table-active text-center align-middle">配送先</td>
                <td>
                  〒<%= @order.post_code %><br>
                  <%= @order.address %><br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <td class="table-active text-center align-middle">支払方法</td>
                <td><%= @order.payment_i18n %></td>
              </tr>
              <tr>
                <td class="table-active text-center align-middle">ステータス</td>
                <td><%= @order.order_status_i18n %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="card rounded col-5 mr-5 p-0" style="background-color:#fcfced; height:50%" >
          <div class="col-12 p-0">
            <div class="card-header">
              <p class="pt-2 text-center"><strong>請求情報</strong></p>
            </div>
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <td class="table-active text-center align-middle">商品合計</td>
                  <td class="text-center align-middle">¥<%= @order.total.to_s(:delimited) %></td>
                </tr>
                <tr>
                  <td class="table-active text-center align-middle">配送料</td>
                  <td class="text-center align-middle">¥<%= @order.postage.to_s(:delimited) %></td>
                </tr>
                <tr>
                  <td class="table-active text-center align-middle">ご請求額</td>
                  <td class="text-center align-middle">¥<%= (@order.postage + @order.total).to_s(:delimited) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card rounded col-9 mx-auto mt-4 mb-4 p-0"  style="background-color:#fcfced;">
        <div class="col-12 p-0">
          <div class="card-header">
            <p class="pt-2 text-center"><strong>注文内容</strong></p>
          </div>
          <table class="table table-bordered mb-0">
            <thead class="table-active text-center align-middle">
             <tr>
               <td style="width:50%">商品</td>
               <td style="width:20%">単価(税込)</td>
               <td style="width:10%">個数</td>
               <td style="width:20%">小計</td>
             </tr>
            </thead>
            <tbody>
              <% @pay_details.each do |order_detail| %>
               <tr class="text-center align-middle">
                 <td><%= order_detail.item.name %></td>
                 <td>¥<%= order_detail.total_price.to_s(:delimited) %></td>
                 <td><%= order_detail.amount %></td>
                 <td>¥<%= (order_detail.total_price * order_detail.amount).to_s(:delimited) %> </td>
               </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
