<div class="container">
  <div class="text-danger">
    <%= flash[:error] %>
  </div>
  <div class="row">
    <div class="card text-center mx-auto", style="background-color:#fcfced">
      <div class="card-header text-center">
        <h4>ログイン</h4>
      </div>
      <div class="card-body text-center mx-auto">
        <div class="row p-2">
          <h6>会員の方はこちらからログイン</h6>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row p-2">
          <%= f.label :"メールアドレス"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",class:"ml-3", :style =>"background-color:#fcfced"%>
        </div>
        <div class="row p-2">
          <%= f.label :"パスワード"%>
          <%= f.password_field :password, autocomplete: "current-password",class:"ml-5", :style =>"background-color:#fcfced"%>
        </div>
        <div class="row offset-4 p-2">
          <%=f.submit "ログイン",class:"btn", style: "color:#0000ff; background-color:#6495ed;"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col p-5">
      <h5>会員登録がお済みでない方</h5>
      <p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</p>
    </div>
  </div>
</div>